.env*
!.env.dist
.next
node_modules
.idea
.vscode
.DS_Store
public/static/img/compress.sh
coverage/
/cypress/screenshots
/cypress/videos
/cypress/pr-screenshots/output
/cypress/pr-screenshots/.raw
tsconfig.tsbuildinfo
tsconfig.base.tsbuildinfo
/storybook-static
cypress/fixtures/api/generated/*.json
