name: Entourage Pro [front-end]

on:
  push:
    branches: [master, develop]
  pull_request: {}
  workflow_dispatch:

env:
  PORT: 3000
  NEXT_PUBLIC_WEBINAR_URL: 'https://google.com'
  NEXT_PUBLIC_TOOLBOX_COACH_URL: 'https://google.com'
  NEXT_PUBLIC_TOOLBOX_CANDIDATE_URL: 'https://google.com'
  NEXT_PUBLIC_TOOLBOX_COMPANY_URL: 'https://google.com'
  NEXT_PUBLIC_TUTORIAL_CV: 'https://google.com'
  NEXT_PUBLIC_TUTORIAL_PP: 'https://google.com'
  NEXT_PUBLIC_DONATION_LINK: 'https://google.com'
  NEXT_PUBLIC_SERVER_URL: 'http://localhost:3000'
  NEXT_PUBLIC_API_URL: 'http://localhost:3002'
  NEXT_PUBLIC_AWSS3_URL: https://entourage-job-preprod.s3.amazonaws.com
  NEXT_PUBLIC_AWSS3_CDN_URL: https://d3s4t580ymtqme.cloudfront.net
  NEXT_PUBLIC_CDN_URL: https://d280vsj7wg1qqw.cloudfront.net
  NEXT_PUBLIC_AWSS3_IMAGE_DIRECTORY: /images/
  CYPRESS_IO_PROJECT_ID: ${{ secrets.CYPRESS_IO_PROJECT_ID }}
  NEXT_PUBLIC_PUSHER_API_KEY: ${{ secrets.PUSHER_API_KEY }}
  NEXT_PUBLIC_LOCAL_BRANCH_ADDRESS_PARIS: '174 Rue Championnet 75018, Paris'
  NEXT_TELEMETRY_DISABLED: 1

jobs:
  test:
    name: E2E on Chrome
    runs-on: ubuntu-latest # use ubuntu-latest
    environment: 'entourage-job-front'
    container:
      image: cypress/browsers:node-20.18.0-chrome-130.0.6723.69-1-ff-131.0.3-edge-130.0.2849.52-1 # use node-20.x from dockerhub
      options: --user 1001 # to grant user permission
    steps:
      # Checkout code
      - name: Checkout on PR
        uses: actions/checkout@v4 # action to checkout on the ref

      # Setup pnpm
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      # Setup Node.js environment with pnpm cache
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'

      # Install dependencies with pnpm
      - name: Install dependencies
        run: pnpm install
        # if: steps.pnpm-cache-deps.outputs.cache-hit != 'true'

      # Install Cypress binary
      - name: Install Cypress binary
        run: pnpm exec cypress install

      # Run ts-check test then eslint test
      - name: Run ts-check & eslint - Code Quality Test
        run: |
          pnpm run test:ts-check
          pnpm run test:eslint

      # Run jest test
      - name: Run Jest - Integration Test
        run: pnpm run test:integ

      # Run cypress test
      - name: Run Cypress - End to End Test
        uses: cypress-io/github-action@v4 # action to exec cypress-io
        with:
          start: pnpm run dev # run dev script to enable cypress execution
          config: e2e.baseUrl=http://localhost:3000
          browser: chrome
          command: pnpm dlx cypress run --key ${{ secrets.CYPRESS_IO_KEY }} --record
          wait-on: http://localhost:3000
